*{
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    }

body{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

/*main section */
.overview {
    position: relative;
    background-position: center;
    top: 0;
    height:650px;
    width: 100%;
    background-image: url(./images/IMG-20220522-WA0005.jpg);
    background-size: 100% 100%;
}

.overview>h1 {
    position: absolute;
    padding: 40px;
    font-size: 24ygb px;
    color: #fff;
    bottom: 0;
}

/*plans section*/
.plans>h2{
    text-align: center;
    font-size: 24px;
    padding: 20px;
}

.plans {
    text-align: center;
    padding: 30px 20px;
}

.plan {
    display:inline-block;
    width: 30%;
    background-color: #d5ffbc;
    padding: 25px 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 20px;
    margin: 0 8px;
}

.plan-features li {
    margin: 10px 0;
}

.plan-highlighted {
    background-color: #19b84c;
    box-shadow:  4px 4px 2px 2px rgb(0, 0, 0, 0.5);
    height: auto;
}

.plan-title {
    color: #19b84c;
}

.plan-features {
    list-style:none;
    margin: 0;
    margin-right: 30px;
}

.plan-highlighted .recomended {
    text-transform: uppercase;
    font-size: 18px;
    background-color: white;
    color: #19b84c;
    border-radius: 8px;
    padding: 5px;
    box-shadow:  4px 4px 2px 2px rgb(0, 0, 0, 0.5);
}

button {
    color: #fff;
    cursor: pointer;
    background-color: #0e4f1f;
    border-radius: 8px;
    border-color: #fff;
    transition: 0.5s;
    padding: 8px;
    text-align: center;
    align-self: inherit;
}

button:hover{
    color: #0e4f1f;
    background-color: #fff;
    border-color: #0e4f1f;
    padding: 9px;
}

.plans>h2 {
    font-size: xx-large;
    color: #19b84c;
}

.key-features {
    background-color: rgba(235, 42, 42, 0.8);
}

.key-features-title{
    text-align: center;
    color: #fff;
    padding-top: 12px;
    font-size: 24px;
}

.key-features-list {
    display: flex;
    margin: 0 80px;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;

}

.key-features-list li {
    list-style: none;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.key-feature img {
    border-radius: 90px;
    padding: 8px;
    border: 2px solid blue;
    background-color: #fff;
}

@media (max-width:600px) , (min-width:601px) and (max-width:900px){
    body {
        width: 100%;
    }

    .plan {
        display: block;
        width: 100%;
        margin: 20px 0;
        box-shadow: none;
    }

    .overview {
        height: 50vh;
    }

    .key-features-list{
        display: block; 
    }

    .key-feature {
        padding: 20px 0;
    }

}


    
