*{
    box-sizing: border-box;
    margin: 0;
}

main {
    margin-top: 100px;
    font-family: 'Courier New', Courier, monospace;
}

.csts {
    overflow: hidden;
}

.cst {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    transform: skew(15deg) scale(0.8);
    animation: flip-image 1s ease-in-out 1s 3;
}
.cst1 {
    display: flex;
    align-items: center;
    padding: 20px 0;

}

.about{
    text-align: right;
    align-items: center;
    margin-left: 10%;
    margin-right: 40px;
}


.about h1 {
    font-size:46px;
    color: rgba(255, 4, 4, 0.7);
}

h5 {
    opacity: 0.4;
}

#black {
    color: #000;
    opacity: 0.9;
}


.cst2 {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.cst3 {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.cst4 {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.a3 {
    margin-left: 10%;
    margin-right: 0;
}

.lt {
    margin-left: 4%;
    margin-right: 5%;
    text-align: left;
}




@media (max-width:600px), (min-width:600px) and (max-width:900px) {
    body{
        overflow-x: hidden;
    }

    
    .cst1, .cst2, .cst3, .cst4{
        display: block;
        padding: 10px;
    }
    .cst {
        width: 100%;
        height: 50vh;
        justify-content: left;
        align-items:flex-end;
    }
    .a3 {
        left: 80%;
    }

    .lt {
        margin: inherit;
    }
    .about h1 {
        font-size: 24px;
    }

    .about {
        padding: 10px;
    }

}

@keyframes flip-image {
    0%{
        transform: rotateY(0);
    }

    50%{
        transform: rotateY(90deg) scale(0.8) skew(15deg);
    }

    100%{
        transform: rotateY(180deg) scale(0.8) skew(15deg);
    }
}